body, html  {
  	height: 100%;
}
.container, .container-wrapp, .side-2, .side-1{
	height: 100%;
	position: relative;
}
#text-zone{
	width: 100%;
	height: 100%;
	overflow: auto;
	float: left;
}

#conversation{
	width: 100%;
}

.line-handle{
	opacity: 0;
}

.username{
	font: arial;
	font-weight: bold;
	font-size: 13px;
	color: #3c3c3c;
}

.nick-SERVER{
	color: #b00;
}

.nick-current{
	color: #004c00;
}

#send-zone{
	width: 80%;
    height: 50px;
	position: fixed;
	bottom: 0;
	border: 0;
	padding-top: 10px;
}

#data{
	position: relative;
	float: left;
}

#datasend{
	position: relative;
	float: left;
}


